 /* Applique a tout la page, theme de fond, typographie et margin*/
* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

/* Style pour les titre*/
h1 {
    margin-top: 0.7em;
    font-size: 35px;
    margin-bottom: 0.8em;
}

h2 {
    margin-bottom: 1em;
}

.h2 {
    font-size: 30px;
}

#header1 {
    display: flex;
    justify-content: center;
}

#img {
    margin-top: 1em;
    width: 11%;
    border-radius: 50%;
}

#header2 {
    color: white;
    text-align: center;
    margin-bottom: 2em;
}

/* Diviser les section par grid (gauche et droite)*/
#section1 {
    display: grid;
    grid-template-columns: 45% 30%;
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 1em 3em;
}

/* Styles pour la section Experience professionel*/
#div1a {
    color: white;
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2%;
    padding: 1em 1em 1em 2em;
    margin-bottom: 1em;
}

#div1a:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}

/* Styles pour la section Extra-professionel*/
#div1b {
    color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 3em 1em 1em 2em;
    max-height: 85%;
}

#div1b:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
    font-size: 20px;
    max-width: 95%;
}

/* Styles pour les section Formation et Langues/Informatique*/
#div2a {
    color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1em 1em 1em 2em;
    margin-bottom: 2em;
    max-width: 90%;
}

#div2a:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
    font-size: 20px;
    max-width: 95%;
}

#div2b {
    color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1em 1em 1em 2em;
    margin-top: -2em;
    max-height: 95%;
}

#div2b:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
    font-size: 20px;
    max-width: 100%;
}

/* Styles pour les section Soft Skills et Loisirs*/
#div3a {
    color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1em 1em 1em 2em;
    max-width: 80%;
}

#div3a:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
    font-size: 20px;
    max-width: 90%;
}

#div3b {
    color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1em 1em 1em 2em;
}

#div3b:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}

/* Styles pour touts les element de liste*/
.li {
    list-style: none;
}

li {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

/* Utiliser pour suligner et rendre gras diferent mots*/
span {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

/* styles pour le titre de Contact Email*/
#h3footer {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
    padding-top: 2em;
}

#mailto {
    color: white;
}

#mailto:hover {
    color: rgb(105, 54, 126);
}

/* Styles pour le anchor Contact Email */
a {
    cursor: pointer;
    color: white;
}

/* Styles quand on passe le pointeur sur Contact Email, Experience professionel et formation */  
a:hover {
    color: rgb(194, 184, 41);
}