@use "sass:math";

/* styles pour le titre de Contact Email*/

.footer {
    .footer__h3 {
        text-align: center;
        font-size: 30px;
        margin-bottom: $unit;
        padding-top: $unit * 2;

        .footer__h3__mailto {
            @include anchorStyle(white);

            &:hover {
                color: rgb(105, 54, 126);
            }
        }
    }
}