@mixin boxShadow1($v1: 1, $v2: 1) {
    color: white;
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2);
    transition: $transition;
    border-radius: 2%;
    padding: $v1 $unit $unit $v2;
}

@mixin boxShadow2($maxWidth : 100%) {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
    font-size: 20px;
    max-width: $maxWidth;
}

@mixin anchorStyle($color) {

    a {
        cursor: pointer;
        color: $color;
    
        &:hover {
            color: rgb(194, 184, 41);
        }
    }
}